.navbar-brand .logo__title {
    font-size: 2.3rem;
}

/* Do not show 'Fullscreen' button as users can do that already via their browser.
Simplifies the UI. */
button.btn.btn-sm.btn-fullscreen-button {
    display: none;
}

/* Same for download button to simplify UI */
button.btn.dropdown-toggle {
    display: none;
}